---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';


interface Props {
  study: CollectionEntry<'case-studies'>
}

const { name, thumbnail, summary } = Astro.props.study.data;

const href = `/cs1300-portfolio/case-studies/${Astro.props.study.slug}`
---

<li class="case-study-card">
	<a href={href}>
		<h2>
			{name}
			<span>&rarr;</span>
		</h2>
    <div class="content">
      {thumbnail && <Image src={thumbnail} alt={`${name} thumbnail`} height={250} />}
      <p>{summary}</p>
    </div>
	</a>
</li>

<style>
  .case-study-card {
    padding: 1rem;
    background-color: gainsboro;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);

    a {
      text-decoration: none;
    }
  }

  .content {
    display: flex;
    gap: 10px

  }
</style>