---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';

import originalPage from '../../images/gcc-redesign/original-page.png'
import speedSketches from '../../images/gcc-redesign/speed-sketches.jpg'
import finalSketch from '../../images/gcc-redesign/final-sketch.jpg'
import loFiDesktop from '../../images/gcc-redesign/lo-fi-desktop.png'
import loFiTablet from '../../images/gcc-redesign/lo-fi-tablet.png'
import loFiMobile from '../../images/gcc-redesign/lo-fi-mobile.png'
import styleGuide from '../../images/gcc-redesign/style-guide.png'
import hiFiDesktop from '../../images/gcc-redesign/hi-fi-desktop.png'
import hiFiTablet from '../../images/gcc-redesign/hi-fi-tablet.png'
import hiFiMobile from '../../images/gcc-redesign/hi-fi-mobile.png'
import finalRedesign from '../../images/gcc-redesign/redesigned-page.png'
---

<Layout title='Responsive Redesign Case Study'>
  <main>
      <h1>Responsive Redesign of GCC's homepage</h1>
      <section>
        <h2>Summary</h2>
        <p>
          I sought to redesign the home page for the
          <a href="https://gcc.gnu.org/" target="_blank" rel="noopener noreferrer"
            >GCC (GNU Compiler Collection) project</a
          >
          to make it more responsive and accessible. I chose this site because I
          think, more often than not, the presentation of documentation for
          software engineering tools is neglected and has room for improvement.
          While this site wasn't the worse instance I've ever seen of this, 
          I still thought there was enough to improve (especially from an 
          accessibility point of view)
        </p>
      </section>
      <Image src={originalPage} alt="Original GCC homepage" />
      <small>The original page</small>
      <section>
        <h2>Problems with existing site</h2>

        <h4>General</h4>
        <ul>
          <li>Not responsive to different screen sizes - same exact layout on desktop and mobile makes readability difficult (especially on mobile or slim desktop window)</li>
          <li>Hard to find important interactive elements like search bar and field to sign up for announcements</li>
          <li>Cluttered page - too much information all at once, text size is pretty small</li>
          <li>Very minimal visual hierarchy</li>
        </ul>

        <h4>Navigation Menu</h4>
        <ul>
          <li>Non-standard location</li>
          <li>Is at the end of HTML as opposed to the beginning (not convenient for screen readers)</li>
          <li>Cluttered with sub-items</li>
        </ul>

        <h4>News Section</h4>
        <ul>
          <li>Sometimes items has additional description, sometimes not.</li>
          <li>Dates not in consistent layout due to varying title lengths</li>
        </ul>

        <h3>Accessibility Report</h3>
        <p>I ran <a href="https://wave.webaim.org/" target="_blank" rel="noopener noreferrer">WebAIM WAVE</a> (an accessibility evaluation tool) on the website and found several problems. The two text input fields (searchbar and email address subscription) were missing form labels for example, and the entire page layout used HTML tables. Both of these issues (along with a few more minor ones like missing semantic HTML page regions) can lead to problems with screen-readers. Overall, I agree with all the issues raised by this tool and intend to fix them.</p>
      </section>

      <section>
        <h2>Prototyping</h2>

        <h3>Sketches</h3>
        <div class="side-by-side-images">
          <Image src={speedSketches} alt="Nine hastily-drawn layout sketches" />
          <Image src={finalSketch} alt="A slightly more detailed page layout sketch" />
        </div>
        <p>The 9 sketches to the left were part of a brainstorming exercise for coming up with different possible layouts. The sketch on the right is a rough final design that will be used going forward.</p>
        
        <h3>Low-Fidelity Designs</h3>
        <div class="wireframe-group">
          <Image src={loFiDesktop} alt="low-fidelity wireframe for desktop" />
          <small>Low-Fi desktop wireframe</small>
          <Image src={loFiTablet} alt="low-fidelity wireframe for tablet" />
          <small>Low-Fi tablet wireframe</small>
          <Image src={loFiMobile} alt="low-fidelity wireframe for mobile" />
          <small>Low-Fi mobile wireframe</small>
        </div>
        <a href="https://www.figma.com/file/GARnr2PGH12Ou3h66dZQ9e/%5BGCC-Responsive-Redesign%5D-Lo-Fi-mockups?type=design&node-id=0%3A1&mode=design&t=oXdP9drr4pHvZSnX-1" target="_blank" rel="noopener noreferrer">Figma link</a>
        <p>Next I came up with some low-fidelity wireframes that would demonstrate the desired layout of the page with 3 different screen sizes. I also annotated these wireframes to show how they addressed the issues with the original webpage that I noted earlier.</p>

        <h3>Style Guide</h3>
        <Image src={styleGuide} alt="guide showing styles for re-used components like buttons and icons" />
        <p>
          This style guide was developed to help standardize typography, colors, and reusable components in my high-fidelity mockups.
        </p>

        <h3>High-Fidelity Mockups</h3>
        <div class="wireframe-group">
          <Image src={hiFiDesktop} alt="high-fidelity mockup for desktop" />
          <small>High-Fi desktop mockup</small>
          <Image src={hiFiTablet} alt="high-fidelity mockup for tablet" />
          <small>High-Fi tablet mockup</small>
          <Image src={hiFiMobile} alt="high-fidelity mockup for mobile" />
          <small>High-Fi mobile mockup</small>
        </div>
        <a href="https://www.figma.com/file/IGPqJX5DEQVxxqbsyIrOLy/%5BGCC-Responsive-Redesign%5D-High-Fi-Mockups?type=design&node-id=0%3A1&mode=design&t=LptneYUKUrt7MAfR-1" target="_blank" rel="noopener noreferrer">Figma Link</a>
        <p>These high-fidelity mockups combine the style guide with the earlier wireframes to produce a finalized design. It has more details like spacing, typography, and colors carefully implemented</p>
      </section>

      <section>
        <h2>Final Redesign</h2>
        <p>The redesigned site is deployed <a href="https://mitchman215.github.io/GCC-Redesign/" target="_blank" rel="noopener noreferrer">here</a>!</p>
        <Image src={finalRedesign} alt="Redesigned GCC homepage" />
        <p>Note: I made some small deviations from my original wireframes. For example, adding the caption above the email subscription input, moving the search button for the search bar outside of the input, and adding dropdown icons for the navigation menu items. These decisions were made because they addressed shortcomings that I hadn't previously anticipated.</p>
        <p>Additionally, this final redesign does not have any interactivity - I only went as far as adding hover effects (but no on-click effects). This is why the navigation bar's dropdowns don't actually open for example. </p>
        
        <h2>Lessons learned</h2>
        <p>I learned how important it is to create wireframes - it was much easier to adjust the wireframe than the actual site. But at the same time, I found that my wireframes didn't anticipate everything the final site would need. For example, I didn't realize that my site needed a top-level heading until checking the WAVE accessibility report - but afterwards, it was a no-brainer.</p>
        <p>I also learned that it is a challenge to create a site that is truly responsive in all environements. I noticed that the site would look slightly differently depending on which browser I used. Furthermore, I relied upon font / font sizes when deciding what the breakpoints would be for my site's responsive changes. However, this might pose an issue if a user has a browser setting that overrides font sizes. I believe the solution to this is using the right css unit, but that is something I didn't have time to investigate further.</p>
      </section>
    </main>
</Layout>
<style>
  body {
    font-size: 1.125rem;
  }
  ul,
	ol {
		list-style: inside;
	}

  img {
    border: 1px solid;
  }

  .side-by-side-images {
    display: flex;
    img {
      width: 50%;
      height: 50%;
    }
  }

  small {
    display: block;
    text-align: center;
  }

  h1, h2, h3 {
    margin-top: 1rem;
  }
  main {
    margin-bottom: 5rem;
  }

  .wireframe-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    small {
      margin-bottom: 0.875rem;
    }
  }
</style>